{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block body %}
<div class="page-content">
    <hr>
    <h3 class="main-page-text my-4">Try our service to calculate your monthly expenses</h3>
    <hr>
    <h4 class="main-page-text my-4">
        We will build beautiful charts for you <br>
        and you can filter them by categories and dates</h4>
    <hr>
    <h5 class="main-page-text my-4">Check out all our possibilities by creating a new account</h5>
    <a href="/register" class="link nav-link">Create an account</a>
    <hr>
</div>
{% endblock %}


